* {
    margin: 0px;
    padding: 0px;
}

body { 
    font-family: 'Yuji Mai', serif;
}

nav {
    display: flex;
    padding: 20px;
    background-color: #221f65;
    justify-content: center;
    position: relative;
}

.first-div {
    position: absolute;
    left: 350px;
}

li { 
    list-style-type: none;
}

a { 
    text-decoration: none;
    color: white;
}

a:hover {
    color: #2cd0e2;
}

ul {
    display: flex;
}

main { 
    height: 80vh;
    background-color: #0E101C;
    color: white;
    text-align: center;
}

h1 { 
    padding-top: 40px;
}

footer {
    background-color: #221f65;
    height: 100px;
    color: white;
    text-align: center;
}

.home-link {
    margin-top: 10px;
}

.main-nav {
    margin: 10px;
}

.footer {
    padding-top: 40px;
}

.right-links {
    display:  flex;
    margin: 10px;
}
