* {
    margin: 0px;
    padding: 0px;
}

body { 
    font-family: 'Yuji Mai', serif;
}

nav {
    display: flex;
    padding: 20px;
    background-color: #221f65;
    justify-content: center;
    position: relative;
}

.first-div {
    position: absolute;
    left: 350px;
}

li { 
    list-style-type: none;
}

a { 
    text-decoration: none;
    color: white;
}

a:hover {
    color: #2cd0e2;
}

ul {
    display: flex;
}

main { 
    height: 95vh;
    background-color: #0E101C;
    color: white;
    text-align: center;
}

h1 { 
    padding-top: 40px;
}

.container {
    padding-top: 50px;
    display: inline-grid;
    grid-template-columns: repeat(3, 1fr);
}

.about {
    max-width: 60vw;
    text-align: center;
    margin: auto;
    padding-top: 200px;
}

.about-text {
    padding-top: 50px;
}

.div-one {
    height: 30vh;
    width: 40vh;
    margin: 40px;
    background-color: #221f65;
    border-radius: 50% 20% / 10% 40%;
}

.join {
        height: 60vh;
        width: 40vh;
        margin: 40px;
        background-color: #221f65;
        margin-left: auto;
        margin-right: auto;
}

.card-text {
    padding-top: 40px;
}

.myButton {
	box-shadow: 0px 10px 14px -7px #276873;
	background:linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
	background-color:#599bb3;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:20px;
	font-weight:bold;
    margin-top: 40px;
	padding:5px 12px;
	text-decoration:none;
	text-shadow:0px 1px 0px #3d768a;
}

.myButton:hover {
	background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
	background-color:#408c99;
}
.myButton:active {
	position:relative;
	top:1px;
}

footer {
    background-color: #221f65;
    height: 100px;
    color: white;
    text-align: center;
}

.home-link {
    margin-top: 10px;
}

.main-nav {
    margin: 10px;
}

.footer {
    padding-top: 40px;
}
