* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 6vh;
    padding-top: 50px;
    margin-left: auto;
    margin-right: auto;
    background-color: #221f65;
}

li {
    list-style-type: none;
    margin-right: 100px;
    margin-left: 100px;
}

a { 
    text-decoration: none;
    color: white;
}

a:hover {
    color: #2cd0e2;
}

ul {
    display: flex;
    width: 4400px;
}

main { 
    height: 95vh;
    background-color: #0E101C;
}

h1,h2 { 
    color: white;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}

footer { 
    background-color: #221f65;
    height: 10vh;
    color: white;
    text-align: center;
    padding-top: 60px;
}

button {
    padding-top: 20px;
}

input {
    padding: 10px;
    border-radius: 20px;
}

.about {
    color: white;
    padding-top: 200px;
}

.about-text { 
    padding-top: 100px;
    text-align: center; 
    display: block;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.first-page {
    margin-left: 200px;
    width: 400px;
}

.info-box { 
    height: 60vh;
    width: 20%;
    margin: 40px;
    background-color: #221f65;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-radius: 50px;
    padding-top: 100px;
}

.info-text {
    text-align: center;
    color: white;
    padding-top: 20px;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    margin-left: auto;
    margin-right: auto;
}

.box-one {
    height: 35vh;
    width: 70%;
    margin-top: 40px;
    margin-right: 20px;
    background-color: #221f65;
    border-radius: 50px;
}

.box-text {
    text-align: center;
    color: white;
    padding-top: 50px;
}

.myButton {
	box-shadow: 0px 10px 14px -7px #276873;
	background:linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
	background-color:#599bb3;
	border-radius:28px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:20px;
	font-weight:bold;
	padding:13px 32px;
	text-decoration:none;
	text-shadow:0px 1px 0px #3d768a;
}

.myButton:hover {
    color: #2cd0e2;
}